<?xml version='1.0' encoding='utf-8'?>
<widget id="com.leeway.led_economy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>led_economy</name>
    <description>
        LED ECONOMY CALCULATOR
    </description>
    <author email="contact@leeway.fr" href="http://www.leeway.fr">
        LEEWAY TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
